mixin formInput(val, type, req, defaultValue)
    - const displayVal = val.split('_').join(' ')
    div.form-group.d-flex

        if req
            span(style="color: red;") *
            label(for=''+val style="width: 50%;")= displayVal
        else
            label(for=''+val style="width: 50%;")= displayVal

        if defaultValue !== ''
            input(id=val type=''+type name=val class="form-control" style="width: 50%;" required=req value=defaultValue)

        if type.toLowerCase() === 'date'
            input(id=val type=''+type name=val class="form-control" style="width: 50%;" required=req value=`${new Date().toISOString().split('T')[0]}`)
        else
            input(id=val type=''+type name=val class="form-control" style="width: 50%;" required=req)

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tracking
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css")
  
    script.


        function addStatusValues(defaultText) {
            const StatusSelect = document.getElementById("StatusSelect")
            const CurrentStatusOption = document.getElementById("CurrentStatus")
            CurrentStatusOption.value = defaultText 
            CurrentStatusOption.text = defaultText

            const statuses = ['Applied', 'Interview', 'Offer', 'Accepted', 'Rejected']

            statuses.forEach((s, i) => {
                if (s !== defaultText) {
                    const option = document.createElement("option")
                    option.value = i
                    option.text = s
                    StatusSelect.append(option)
                }
            })
        }

        function editClick(job) {
            addStatusValues(job['Status'])
            document.getElementById('DateAppliedEdit').value = new Date(''+job['DateApplied']).toISOString().split('T')[0]
            document.getElementById('JobIdEdit').value = job['JobID']
            for (let field in job) {
                if (job.hasOwnProperty(field) && document.getElementById(''+field) != null) {
                    document.getElementById(''+field+'Edit').value = job[field]
                }
            }
        }

        async function deleteJob(job) {
            try {
                const jobID = job.JobID 
                await fetch(`http://localhost:3000/tracking/delete/${jobID}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/plain'
                    }
                })
                location.reload()
            } catch(e) {
                console.log(e)
            }
        }

  body.d-flex
    include layouts/sidebar
    
    div.d-flex.flex-column.align-items-center(style="width: 100%; height: 100vh;") 

        div.d-block.align-items-center.border.p-2.mt-4(style="width: 95%;") 
            h2.text-start 🎯 Your Applications 
            hr
            div.d-block.my-4.p-2
                h5 New Application
                p Click below to add a job or a new contact 
                div.d-flex.justify-content-start

                    button.btn.btn-light.font-weight-bold.border(type="button", data-toggle="modal", data-target="#NewAppModalForm") New App +
                    button.btn.btn-light.mx-4.font-weight-bold.border(style="width: 128px" disabled) Contact +
            hr
            br
            table#applications.table.table-striped.my-4.p-2
                thead 
                    tr
                        th Role 
                        th Company 
                        th Status 
                        th Date Applied
                tbody

                    if jobs
                        each job, i in jobs 
                            tr 
                                td= job.Role 
                                td= job.Company 
                                td= job.Status 
                                td 
                                    div.d-flex.justify-content-between
                                        if job.DateApplied 
                                            p= `${new Date(job.DateApplied).toISOString().split('T')[0]}`
                                            div.d-flex
                                                button.btn.btn-light(type="button", data-toggle="modal", data-target="#JobEditModal" onclick=`editClick(${JSON.stringify(job)})` ) ✏️
                                                button.btn.btn-light(type="button", onclick=`deleteJob(${JSON.stringify(job)})` ) ❌

        br

        //- New Application modal 
        .modal.fade(id="NewAppModalForm", tabindex="-1", role="dialog", aria-labelledby="NewAppModlLbl", aria-hidden="true", data-backdrop="static")
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5.modal-title#NewAppModlLbl ✨New Job Application✨
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                p Please enter the required information below about your latest job application.

                form(action="http://localhost:3000/tracking/manual" method="post")
                    hr
                    br
                    +formInput('Company', 'text', true, '')
                    +formInput('Role', 'text', true, '')
                    +formInput('Date_Applied', 'date', false, '')

                    hr
                    button.btn.btn-primary.font-weight-bold(type="submit") Add
        
        //- Job Edit modal 
        .modal.fade(id="JobEditModal", tabindex="-1", role="dialog", aria-labelledby="JobEditModalLbl", aria-hidden="true", data-backdrop="static")
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5.modal-title#JobEditModalLbl Job Edit
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                p Edit

                form(action="http://localhost:3000/tracking/edit" method="post")
                    hr
                    br
                    
                    div.d-none
                        label(for="JobID" style="width: 50%") JobID
                        input#JobIdEdit(name="JobID" type="text" class="form-control" style="width: 50%;")
                    div.form-group.d-flex
                        span(style="color: red;") *
                        label(for="Company" style="width: 50%") Company
                        input#CompanyEdit(name="Company" type="text" class="form-control" style="width: 50%;" required)
                    div.form-group.d-flex
                        span(style="color: red;") *
                        label(for="Role" style="width: 50%") Role
                        input#RoleEdit(name="Role" type="text" class="form-control" style="width: 50%;" required)
                    div.form-group.d-flex
                        label(for="DateApplied" style="width: 50%") Date Applied
                        input#DateAppliedEdit(name="DateApplied" type="date" class="form-control" style="width: 50%;")
                    div.form-group.d-flex
                        label(for="StatusID" style="width: 50%") Status
                        select#StatusSelect.form-select.text-center.border(name="StatusID" aria-label="Application Status values" style="width: 50%")
                            option#CurrentStatus(selected) 

                    hr
                    div.d-flex.flex-row.justify-content-end
                        button.btn.btn-light.font-weight-bold(data-dismiss="modal" style="width: 75px") Cancel
                        button.btn.btn-primary.font-weight-bold.ml-2(type="submit" style="width: 75px") Save


        div(style="height: 100%")
        
        
  //- jQuery
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  //- Bootstrap JavaScript bundle
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
  script(src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js")
  script.
    $(document).ready(function() {
        $('#applications').DataTable();
    });