include utils

html(lang="en")
  head
    +head('Trackr')    
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css")

  body.d-flex(style="background-color: #121212; color: white")
    include layouts/sidebar
    include layouts/JobApplicationModal
    include layouts/JobEditModal


    .container-fluid.d-flex.flex-column.min-vh-100
        .row.flex-grow-1 
            .col 
                div.d-block.align-items-center.p-2.px-4.my-4(style="width: 95%; max-width: 95%; background-color: #212121; border-radius: 5px; box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); border: none;") 
                    
                    div.mt-4.py-4.text-start.border-bottom
                        h2 🎯 Your Applications
                    br

                    div.text-start
                        button.btn.font-weight-bold(type="button", data-toggle="modal", data-target="#NewAppModalForm", style="background-color: #FE6B68; color: white; width: 250px") New App +
                    br

                    table#applications.table.table-striped.my-4.p-2
                        thead
                            tr
                                th(style="color: white") Role 
                                th(style="color: white") Company 
                                th(style="color: white") Status 
                                th(style="color: white") Date Applied
                        tbody

                            if jobs
                                each job, i in jobs 
                                    tr
                                        td(style="color: white")= job.Role 
                                        td(style="color: white")= job.Company 
                                        td(style="color: white")= job.Status 
                                        td 
                                            div.d-flex.justify-content-between
                                                if job.DateApplied 
                                                    p(style="color: white")= `${new Date(job.DateApplied).toISOString().split('T')[0]}`
                                                    div.d-flex
                                                        button.btn(type="button", data-toggle="modal", data-target="#JobEditModal" onclick=`editClick(${JSON.stringify(job)})` ) ✏️
                                                        button.btn(type="button", onclick=`deleteJob(${JSON.stringify(job)})` ) ❌
                    br

                    //- New Application modal 
                    +JobApplicationModal()

                    //- Job Edit modal
                    +JobEditModal()

                    br

        //- .row.footer
        //-         .col.text-center
        //-             div(data-docsData=JSON.stringify(docsData))
        //-             div#notifications.d-flex.flex-row.justify-content-end(style="width: 95%")

  //- JQuery
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")

  //- Bootstrap JavaScript bundle
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
  script(src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js")
  script(src="https://cdn.datatables.net/2.0.7/js/dataTables.js")
  script(src="/js/tracking.js")
  script.

    const table = new DataTable('#applications')
    enableRowHighlighting()
    changeOptionsTextColor()

    function changeOptionsTextColor() {
        const selectTags = document.getElementsByTagName('select')
        let entriesPerPageSelect
        const NUM_OF_ENTRIES = 4
        for (let i=0; i<selectTags.length; i++) {
            if (selectTags[i].id === "dt-length-0") {
                entriesPerPageSelect = selectTags[i]
            }
        }

        entriesPerPageSelect.style.marginRight = '4px'

        for (let i=0; i<NUM_OF_ENTRIES; i++) {
            entriesPerPageSelect[i].style.color = 'black'
        }
    }

    function enableRowHighlighting() {
        table.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;
        
            if (classList.contains('selected')) {
                classList.remove('selected');
            }
            else {
                table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
            }
        });
    }

